<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0;">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/material.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="/js/material.min.js"></script>
    <title>提案列表</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{component :: page_title}"></div>
            <div class="row">
                <div th:replace="~{component :: writer_nav}"></div>
                <div class="col-9">
                    <div class="card mt-4">
                        <div class="card-header">
                            用户信息
                        </div>
                        <div class="card-body">
                            <form action="/user/recommend" method="post">
                                <div th:if="${err_msg!=null}" id="myAlert" class="alert alert-danger">
                                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                                    <strong>提示信息:</strong><a th:text="${err_msg}"></a>
                                </div>
                                <div class="form-group">
                                    <label for="uid">用户</label>
                                    <select name="uid" id="uid" class="form-control" required>
                                        <option th:each="user:${users}" th:value="${user.uid}" th:text="${user.username}"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="reason">推荐原因</label>
                                    <textarea rows="5" class="form-control" id="reason" name="reason" placeholder="推荐原因" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">提交</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>